.Screen {
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.App {
  text-align: center;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
}

.Nav {
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  border-bottom: dashed black 5px;
}

.Display img{
  width: 200px;
}

.Display {
  font-weight: bold;
}


.NavButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.NavButtons > li {
  color: black;
  font-weight: bold;
  font-size: 15px;
  list-style-type: none;
  padding: 5px;
  margin: 5px;
  border: solid black 5px;
  border-radius: 15px;
}

.RuleLink {
  margin: 20px;
  padding: 5px 20px;
  color: white;
  background-color: black;
  border-radius: 25px;
}

.RulesPageContainer{
  margin-top: 15px;
}

textarea{
  width: 100%;
}


.IndividualRule{
  background-color: black;
  font-weight: bolder;
  color: rgb(255, 255, 255);
  font-size: 24px;
  border-radius: 10px;
  text-shadow: 0 0 8px #ffffff;
  padding: 3px;
  margin: 15px;
  width: 100%;
}

.Landing {
  background-image: url(landing.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  border: solid white 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  padding-left: 120px;
  padding-right: 120px;
}

.RulesPages {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-left: 120px;
  padding-right: 120px;
}

.RandomCardImage {
  margin: 200px;
  width: 40%;
  border: solid black 10px;
  border-radius: 20px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.514);
}

.BlackShadow {
  width: 40vw;
  max-height: 60vh;
  padding: 30px;
  background-color: black;
  font-weight: bolder;
  color: rgb(255, 255, 255);
  font-size: 15px;
  border-radius: 10px;
  text-shadow: 0 0 8px #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.BlackShadowRule {
  width: 40vw;
  padding: 30px;
  background-color: black;
  font-weight: bolder;
  color: rgb(255, 255, 255);
  font-size: 15px;
  border-radius: 10px;
  text-shadow: 0 0 8px #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.FormFormat{
  display: flex;
  flex-direction: column;
}

.WhiteShadow {
  width: 40vw;
  padding: 30px;
  background-color: rgb(255, 255, 255);
  font-weight: bolder;
  color: rgb(0, 0, 0);
  font-size: 15px;
  border-radius: 10px;
  text-shadow: 0 0 8px #000000;
}

.BlackContainer{
  margin-top: 30px;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

button {
  background-color: rgb(255, 255, 255);
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-size: 24px;
  border-radius: 10px;
  text-shadow: 0 0 8px #000000;
}

input {
  border: 3px solid #555;
  width: 300px;
}
